#h1animation {
    animation-duration: 2s;
    animation-name: h1animation;
}
@keyframes h1animation { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color: rgb(255, 226, 231);
    margin: 10px;
    font-family: Helvetica, Verdana, Arial;
    text-align: center;
}

hr {
    width: 95%;
    margin: 0px auto;
}

.skip {
    position: absolute;
    left: 0px;
    transform: translateY(-250%);
}

.skip:focus {
    transform: translateY(0%);
}

header {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 225%;
    color: rgba(43, 0, 255, 0.539);
    margin-top: 10px;
    margin-bottom: 10px;
}

h2, footer {
    color: rgba(43, 0, 255, 0.539);
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav_links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 4px solid rgba(43, 0, 255, 0.539);
    border-radius: 10px;
    background-color:rgb(244, 203, 255);
    font-size: 125%;
    padding: 5px;
}

footer {
    border: 4px solid rgba(43, 0, 255, 0.539);
    border-radius: 10px;
    background-color:rgb(244, 203, 255);
    padding: 5px;
    clear: both;
}

a {
    text-decoration: none;
}

a:hover, a:focus, .skip:focus {
    color: rgb(211, 129, 255);
    text-decoration: underline;
    font-style: italic;
}

.active{
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}

.home-imgs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.home-imgs img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid rgb(244, 203, 255);
    border-radius: 10px;
    margin: 20px;
}

.about-overview, .about-technical, .about-creative {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.aboutme-flex img, .about-overview img, .about-technical img, .about-creative img, .work-gwc img, .work-lifeline img, .work-kpmg img, .whatthef img, .diiVe img, .funrun img, .spotify img, .patent img, .medium img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

.resume-imgs img {
    width: 100%;
    height: auto;
}

.work-gwc a, .work-lifeline a, .work-kpmg a, .whatthef a, .diiVe a, .funrun a, .spotify a, .patent a, .medium a{
    display: block;
    margin: 0px auto;
}

@media (prefers-reduced-motion: reduce) {
    #h1animation {
        animation: none;
    }
}

@media screen and (min-width: 800px) {

    .nav_links{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        border: 4px solid rgba(43, 0, 255, 0.539);
        border-radius: 10px;
        background-color:rgb(244, 203, 255);
        font-size: 125%;
        padding: 5px;
    }

    .home-imgs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .about-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .aboutme-flex {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .aboutme-text, .aboutme-img {
        margin: 20px;
    }

    .awards-grid div, .projects-grid div, .about-grid div,.work-grid div {
        border: 2px solid rgb(244, 203, 255);
        margin: 10px;
        padding: 5px;
    }

    .awards-grid, .projects-grid, .work-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about-grid div {
        border: 2px solid rgb(244, 203, 255);
        margin: 10px;
        padding: 5px;
    }

    .home-contact {
        width: 50%;
        border: 2px solid rgb(244, 203, 255);
        margin: 0px auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .resume-imgs img {
        width: 90%;
        height: auto;
    }
   
}

@media screen and (min-width: 1300px) {
    
    .home-imgs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .home-contact {
        width: 25%;
        border: 2px solid rgb(244, 203, 255);
        margin: 0px auto;
    }

    .aboutme-flex {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        margin: 0px auto;
    }

    .resume-imgs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
        justify-items: center;
    }

}